<!--
  Kobuki Hokuyo launcher
 -->
<launch>  
  <arg name="robot_name" default="kobuki"/>

  <group ns="$(arg robot_name)">
    <!-- Set TFs required to run Gmapping (uncomment if joint_state_publisher is not launched)
    <node pkg="tf" type="static_transform_publisher" name="basefp_to_baselink" args="0.0 0.0 0.0 0.0 0.0 0.0 $(arg robot_name)/base_footprint $(arg robot_name)/base_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="basefp_to_scan" args="0.145 0.0 0.0 0.0 0.0 0.0 $(arg robot_name)/base_link $(arg robot_name)/base_scan 100"/>
    -->
    <!-- Launch hokuyo laser -->
    <node pkg="urg_node" type="urg_node" name="urg_node">
      <param name="frame_id" value="$(arg robot_name)/base_scan"/>
      <param name="ip_address" value="192.168.0.10"/>
      <param name="angle_min" value="-1.745"/>
      <param name="angle_max" value="1.745"/>
    </node>

  </group> 
</launch>