<!-- Launches Kobukis Gazebo simulation in a world -->
<launch>
  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_a"/>
    <arg name="kobuki_id"  value="1"/>
    <arg name="init_pose_x" value="0"/>
    <arg name="init_pose_y" value="0"/>
  </include>
  
  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_b"/>
    <arg name="kobuki_id"  value="2"/>
    <arg name="init_pose_x" value="2"/>
    <arg name="init_pose_y" value="-2"/>
  </include>
  
  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_c"/>
    <arg name="kobuki_id"  value="3"/>
    <arg name="init_pose_x" value="6"/>
    <arg name="init_pose_y" value="0"/>
  </include>
  <!--
  -->
  <!-- spawn the robot 
  <include file="$(find kobuki_multi_robot)/simulation/includes/robot.launch">
    <arg name="robot_name" value="kobuki_d"/>
    <arg name="init_pose" value="-x -5 -y -1 -z 0"/>
  </include>
  -->
</launch>