<!--  Launches node to place kobukis properly inside the simulation  -->
<launch>
  <arg name="mission_label" default="default"/>
  <arg name="robot_name" default="kobuki"/>

    <group ns="$(arg robot_name)">
        <node name="model_state_setter" pkg="kobuki_multi_robot" type="model_state_setter" output="screen">
            <param name="robot_name" value="$(arg robot_name)"/>
            <rosparam file="$(find kobuki_multi_robot)/param/missions/$(arg mission_label)/$(arg robot_name).yaml" command="load"/>
        </node>
    </group>

</launch>