<!--  Launches node to place kobukis properly inside the simulation 
      and navigation nodes -->
<launch>
  <arg name="mission_label" default="default"/>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- Nodes to call service placing kobukis in simulation -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <include file="$(find kobuki_multi_robot)/simulation/launch/model_state_setter.launch">
    <arg name="robot_name" value="kobuki_a"/>
    <arg name="mission_label" value="$(arg mission_label)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/simulation/launch/model_state_setter.launch">
    <arg name="robot_name" value="kobuki_b"/>
    <arg name="mission_label" value="$(arg mission_label)"/>
  </include>

  <!--<include file="$(find kobuki_multi_robot)/simulation/launch/model_state_setter.launch">
    <arg name="robot_name" value="kobuki_c"/>
    <arg name="mission_label" value="$(arg mission_label)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/simulation/launch/model_state_setter.launch">
    <arg name="robot_name" value="kobuki_d"/>
    <arg name="mission_label" value="$(arg mission_label)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/simulation/launch/model_state_setter.launch">
    <arg name="robot_name" value="kobuki_e"/>
    <arg name="mission_label" value="$(arg mission_label)"/>
  </include> -->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- Navigation nodes                                    -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <include file="$(find kobuki_multi_robot)/launch/navigation_hector/kobuki_navigation_h_slam.launch">
    <arg name="robot_name" value="kobuki_a"/>
    <arg name="kobuki_id"  value="1"/>
    <arg name="mission_label" value="$(arg mission_label)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/launch/navigation_hector/kobuki_navigation_h_slam.launch">
    <arg name="robot_name" value="kobuki_b"/>
    <arg name="kobuki_id"  value="2"/>
    <arg name="mission_label" value="$(arg mission_label)"/>
  </include>

  <!--<include file="$(find kobuki_multi_robot)/launch/navigation_hector/kobuki_navigation_h_slam.launch">
    <arg name="robot_name" value="kobuki_c"/>
    <arg name="kobuki_id"  value="3"/>
    <arg name="mission_label" value="$(arg mission_label)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/launch/navigation_hector/kobuki_navigation_h_slam.launch">
    <arg name="robot_name" value="kobuki_d"/>
    <arg name="kobuki_id"  value="4"/>
    <arg name="mission_label" value="$(arg mission_label)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/launch/navigation_hector/kobuki_navigation_h_slam.launch">
    <arg name="robot_name" value="kobuki_e"/>
    <arg name="kobuki_id"  value="5"/>
    <arg name="mission_label" value="$(arg mission_label)"/>
  </include> -->


  <node pkg="tf" type="static_transform_publisher" name="world_to_kobuki_a_map" args="0.0 0.0 0.0 0.0 0.0 0.0 /world /kobuki_a/map 100"/>
	<node pkg="tf" type="static_transform_publisher" name="world_to_kobuki_b_map" args="0.0 -2.0 0.0 0.0 0.0 0.0 /world /kobuki_b/map 100"/>
</launch> 