<!--  Launches node to place kobukis properly inside the simulation 
      and navigation nodes -->
<launch>
  <arg name="mission" default="default"/>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- Nodes to call service placing kobukis in simulation -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <node name="model_state_setter" pkg="kobuki_multi_robot" type="model_state_setter" output="screen">
    <param name="robot_name" value="kobuki_a"/>
    <rosparam file="$(find kobuki_multi_robot)/param/missions/$(arg mission)/kobuki_a.yaml" command="load"/>
  </node>

  <node name="model_state_setter" pkg="kobuki_multi_robot" type="model_state_setter" output="screen">
    <param name="robot_name" value="kobuki_b"/>
    <rosparam file="$(find kobuki_multi_robot)/param/missions/$(arg mission)/kobuki_b.yaml" command="load"/>
  </node>

  <node name="model_state_setter" pkg="kobuki_multi_robot" type="model_state_setter" output="screen">
    <param name="robot_name" value="kobuki_c"/>
    <rosparam file="$(find kobuki_multi_robot)/param/missions/$(arg mission)/kobuki_c.yaml" command="load"/>
  </node>

  <node name="model_state_setter" pkg="kobuki_multi_robot" type="model_state_setter" output="screen">
    <param name="robot_name" value="kobuki_d"/>
    <rosparam file="$(find kobuki_multi_robot)/param/missions/$(arg mission)/kobuki_d.yaml" command="load"/>
  </node>

  <node name="model_state_setter" pkg="kobuki_multi_robot" type="model_state_setter" output="screen">
    <param name="robot_name" value="kobuki_e"/>
    <rosparam file="$(find kobuki_multi_robot)/param/missions/$(arg mission)/kobuki_e.yaml" command="load"/>
  </node>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- Navigation nodes                                    -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_a"/>
    <arg name="kobuki_id"  value="1"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_a"/>
    <arg name="kobuki_id"  value="2"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_a"/>
    <arg name="kobuki_id"  value="3"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_a"/>
    <arg name="kobuki_id"  value="4"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_a"/>
    <arg name="kobuki_id"  value="5"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>
</launch>