<!--  Launches node to place kobukis properly inside the simulation 
      and navigation nodes -->
<launch>
  <arg name="mission" default="default"/>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- Nodes to call service placing kobukis in simulation -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <include file="$(find kobuki_multi_robot)/simulation/launch/model_state_setter.launch">
    <arg name="robot_name" value="kobuki_a"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/simulation/launch/model_state_setter.launch">
    <arg name="robot_name" value="kobuki_b"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/simulation/launch/model_state_setter.launch">
    <arg name="robot_name" value="kobuki_c"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/simulation/launch/model_state_setter.launch">
    <arg name="robot_name" value="kobuki_d"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/simulation/launch/model_state_setter.launch">
    <arg name="robot_name" value="kobuki_e"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- Navigation nodes                                    -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_a"/>
    <arg name="kobuki_id"  value="1"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_b"/>
    <arg name="kobuki_id"  value="2"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_c"/>
    <arg name="kobuki_id"  value="3"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_d"/>
    <arg name="kobuki_id"  value="4"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>

  <include file="$(find kobuki_multi_robot)/launch/kobuki_navigation.launch">
    <arg name="robot_name" value="kobuki_e"/>
    <arg name="kobuki_id"  value="5"/>
    <arg name="mission" value="$(arg mission)"/>
  </include>
</launch>