<!-- Launches kobukis spawn in gazebo simulation -->
<launch>

  <!-- spawn the robots (placing them at different x coordinates to avoid random collisions) -->
  <include file="$(find kobuki_multi_robot)/simulation/includes/robot.launch">
    <arg name="robot_name" value="kobuki_a"/>
    <arg name="initial_pose_x" value="0"/>
  </include>

  <include file="$(find kobuki_multi_robot)/simulation/includes/robot.launch">
    <arg name="robot_name" value="kobuki_b"/>
    <arg name="initial_pose_x" value="1"/>
  </include>

  <include file="$(find kobuki_multi_robot)/simulation/includes/robot.launch">
    <arg name="robot_name" value="kobuki_c"/>
    <arg name="initial_pose_x" value="2"/>
  </include>

  <include file="$(find kobuki_multi_robot)/simulation/includes/robot.launch">
    <arg name="robot_name" value="kobuki_d"/>
    <arg name="initial_pose_x" value="3"/>
  </include>

  <include file="$(find kobuki_multi_robot)/simulation/includes/robot.launch">
    <arg name="robot_name" value="kobuki_e"/>
    <arg name="initial_pose_x" value="4"/>
  </include>

</launch>