# set the udev rule , make the device_port be fixed by hokuyo04LX
#
KERNEL=="ttyACM*", ATTRS{idVendor}=="1d6b", ATTRS{idProduct}=="0002", SYMLINK+="hokuyo04LX"