<launch>
  <!-- Arguments -->
  <arg name="robot_name" default="kobuki"/>
  <arg name="mission_label" default="default"/> <!-- Please configure a mission at $(find kobuki_multi_robot)/param/missions-->
  
  <group ns="$(arg robot_name)">
    <!-- AMCL -->
    <node pkg="amcl" type="amcl" name="amcl">
      <!-- amcl configuration -->
      <rosparam file="$(find kobuki_multi_robot)/param/navigation_ekf/amcl.yaml" command="load"/>
      <!-- initial pose given a mission -->
      <rosparam file="$(find kobuki_multi_robot)/param/missions/$(arg mission_label)/$(arg robot_name).yaml" command="load"/>

      <param name="odom_frame_id"  value="$(arg robot_name)/odom"/>
      <param name="base_frame_id"  value="$(arg robot_name)/base_footprint"/>

      <!-- Use the single map server -->
      <remap from="static_map" to="/static_map"/>
      <remap from="map" to="/map"/>
    </node>
  </group>
</launch>