<!--
  Kobuki viz
 -->
<launch>
  <arg name="robot_name" default="kobuki"/>
  
  <!-- kobuki model viz -->    
  <group ns="$(arg robot_name)"> 
    <arg name="urdf_file" default="$(find xacro)/xacro '$(find kobuki_multi_robot)/simulation/urdf/kobuki_standalone.urdf.xacro'"/>
    <param name="robot_description" command="$(arg urdf_file)"/>
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="5.0"/>
      <param name="tf_prefix" value="$(arg robot_name)"/>
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="false"/>
    </node>
  </group>
</launch>